* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.film-detail-contain {
  width: 100%;
  display: flex;
  justify-content: center;
  color: aliceblue;
  padding: 50px 0;
}
.trailer-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.7);
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
}
.trailer-modal-video {
  width: 700px;
  height: 400px;
}
.trailer-modal-video iframe {
  border: 0;
}
.trailer-modal-cancel {
  position: absolute;
  top: 50px;
  right: 100px;
  font-size: 35px;
  cursor: pointer;
}
.film-detailes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 60px;
}
.film-poster {
  width: 450px;
  height: 500px;
  border-radius: 7px;
  overflow: hidden;
}
.film-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.film-info-contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--basic-font);
}
.film-title-date {
  font-size: 40px;
  font-weight: 800;
}
.film-title-date span {
  font-weight: 400;
  opacity: 0.8;
}
.film-facts {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  margin-top: 15px;
}
.film-release {
  position: relative;
}
.film-release::before {
  content: "";
  position: absolute;
  top: 7px;
  right: -15px;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 6px;
}
.film-genres {
  position: relative;
  margin-left: 10px;
}
.film-genres::before {
  content: "";
  position: absolute;
  top: 7px;
  right: -15px;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 6px;
}
.film-runtimes {
  margin-left: 10px;
}
.film-actions {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 15px;
}
.film-score-chart-div {
  display: flex;
  align-items: center;
}
.film-score-chart {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -7px;
}
.user-score-title {
  font-size: 15px;
  font-weight: 600;
}
.film-like-btn,
.film-watchlist {
  width: 40px;
  height: 40px;
  background-color: #293450;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.film-trailer-video {
  display: flex;
  align-items: start;
  gap: 7px;
  color: #fff;
  cursor: pointer;
}
.film-trailer-video p {
  font-size: 17px;
  font-weight: 600;
}
.film-overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.film-overview-title {
  font-size: 25px;
  font-weight: 700;
}
.film-overview-text {
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 900px) {
  .film-poster {
    width: 350px;
    height: 400px;
  }
  .film-title-date {
    font-size: 35px;
    font-weight: 700;
  }
  .film-title-date span {
    font-size: 30px;
  }
  .film-facts {
    gap: 15px;
    font-size: 14px;
  }
  .film-release::before {
    top: 5px;
    right: -15px;
  }
  .film-genres::before {
    top: 5px;
    right: -15px;
  }
}
@media (max-width: 768px) {
  .film-poster {
    width: 350px;
    height: 380px;
  }
  .film-title-date {
    font-size: 32px;
    font-weight: 700;
  }
  .film-title-date span {
    font-size: 28px;
  }
  .film-facts {
    gap: 10px;
    font-size: 14px;
  }
  .film-release::before {
    top: 5px;
    right: -15px;
  }
  .film-genres::before {
    top: 5px;
    right: -15px;
  }
  .film-detailes {
    gap: 30px;
  }
  .film-actions {
    gap: 10px;
    margin-top: 15px;
  }
  .film-overview-title {
    font-size: 22px;
  }
  .film-overview-text {
    font-size: 12px;
    font-weight: 500;
  }
}
@media (max-width: 600px) {
  .film-detail-contain {
    padding: 30px 0;
  }
  .film-detailes {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .film-poster {
    width: 100%;
    height: 280px;
    border-radius: 2px;
    padding: 3px;
    display: flex;
    align-items: center;
  }
  .film-poster img {
    width: 180px;
    height: 100%;
    border-radius: 5px;
  }
  .film-info-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--basic-font);
  }
  .film-title-date {
    font-size: 28px;
    font-weight: 700;
  }
  .film-title-date span {
    font-size: 25px;
  }
  .film-actions {
    gap: 30px;
    margin-top: 10px;
  }
  .film-release::before {
    top: 5px;
    right: -15px;
  }
  .film-genres::before {
    top: 5px;
    right: -15px;
  }
}
@media (max-width: 480px) {
  .film-poster {
    height: 250px;
    padding: 5px;
  }
  .film-poster img {
    width: 150px;
  }
  .film-facts {
    gap: 5px;
    font-size: 13px;
  }
  .film-release,
  .film-genres {
    padding-right: 3px;
  }
  .film-release::before {
    content: "/";
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    font-size: 16px;
  }
  .film-genres {
    margin-left: 3px;
  }
  .film-genres::before {
    content: "/";
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    font-size: 16px;
  }
  .film-runtimes {
    margin-left: 0;
  }
  .film-actions {
    gap: 15px;
  }
}
