.home-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  /* border: 2px solid red; */
}
.home-page-pointer {
  font-size: 19px;
  font-weight: 600;
  color: var(--basic-yellow);
  font-family: var(--basic-font);
  align-self: self-start;
  padding: 0 0 40px 10px;
}
.home-movie-contain {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 40px;
}
.movie-card {
  width: 200px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #1b1b1b;
}
.card-image-div {
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
.mc-image {
  width: 100%;
  height: inherit;
}
.mc-info-contain {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
}
.mc-card-heading {
  font-size: 17px;
}
.mc-card-heading a {
  text-decoration: none;
  color: var(--basic-yellow);
  font-family: var(--basic-font);
}
.mc-card-release-date {
  font-size: 15px;
  color: var(--basic-yellow);
  font-family: var(--basic-font);
}
.change-page-contain {
  height: 50px;
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.change-page-contain button {
  width: 180px;
  height: inherit;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--basic-yellow);
  transition: ease-in-out 0.2s;
}
.change-page-contain button:hover {
  font-size: 25px;
}

/* Home Page Media Query */
@media (max-width: 900px) {
  .home-container {
    padding-top: 30px;
  }
  .Loader-text {
    padding: 30% 0;
  }
  .movie-card {
    width: 170px;
  }
  .card-image-div {
    height: 260px;
  }
  .mc-card-heading {
    font-size: 15px;
  }
  .mc-card-release-date {
    font-size: 14px;
  }
  .change-page-contain {
    height: 45px;
  }
  .change-page-contain button {
    width: 140px;
  }
}
@media (max-width: 768px) {
  .home-container {
    padding-top: 30px;
  }
  .Loader-text {
    padding: 45% 0;
  }
  .home-movie-contain {
    gap: 25px;
  }
  .movie-card {
    width: 160px;
  }
  .card-image-div {
    height: 240px;
  }
  .mc-card-heading {
    font-size: 14px;
  }
  .mc-card-release-date {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .home-container {
    padding-top: 20px;
  }
  .Loader-text {
    padding: 55% 0;
  }
  .Error-text {
    font-size: 40px;
  }
  .home-movie-contain {
    gap: 20px;
  }
  .home-page-pointer {
    font-size: 17px;
    padding-bottom: 30px;
  }
  .change-page-contain {
    height: 40px;
    gap: 20px;
  }
  .change-page-contain button {
    width: 120px;
  }
}
@media (max-width: 480px) {
  .Loader-text {
    padding: 70% 0;
  }
}
@media (max-width: 375px) {
  .home-container {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .Loader-text {
    padding: 75% 0;
    font-size: 35px;
  }
  .Error-text {
    font-size: 35px;
  }
  .home-page-pointer {
    font-size: 15px;
    padding-bottom: 20px;
  }
  .home-movie-contain {
    gap: 10px;
  }
  .movie-card {
    width: 130px;
  }
  .card-image-div {
    height: 180px;
  }
  .mc-info-contain {
    height: 70px;
  }
  .mc-card-heading {
    font-size: 12px;
  }
  .mc-card-release-date {
    font-size: 11px;
  }
  .change-page-contain {
    height: 32px;
    gap: 10px;
    margin-top: 30px;
  }
  .change-page-contain button {
    width: 80px;
    font-size: 15px;
  }
}
